.top {
	height: 7px;
	background-image: url(images/border.png);
	background-position: left bottom;
    background-repeat: repeat-x;
}

.header {
    position:relative;
	max-width: 960px;
    height: 204px;
    font-family: "Myriad Pro";
    font-size: 21px;
	background: #f7f7f7;
	margin: 0px auto;
}

.title {
    position:absolute;
    bottom:0;
    left: 0;
    font-size: 64px;
}

.logo {
    position:absolute;
    right: 0;
}

.logo img{
    height: 100%;
    width: auto;
	padding-bottom: 16px;
}

.contact {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
}

.contact p {
	margin-bottom: 0;
}

.back {
	background: #ededed;
	padding-bottom: 50px;
}

.container {
	max-width: 960px;
    font-family: "Myriad Pro";
    font-size: 21px;
	padding-left: 0px;
}

.container textarea {
	width: 450px;
	height: 200px;
	background: rgba(205, 214, 219, 0);
	border: 3px solid black;
}

.container .name {
	width: 450px;
}

.add-chat {
    position:relative;
	width: 450px;
}

.add-chat .btn {
	position: absolute;
	right: 0;
	background: rgba(205, 214, 219, 0);
	border: 3px solid black;
	color: black;
}

footer {
	position:relative;
	height: 140px;
	max-width: 960px;
	margin: 0px auto;
    font-family: "Myriad Pro";
	font-size: 16px;
}

footer .logo {
	position:absolute;
    left: 0;
}

footer .logo img {
	max-height: 100%;
    width: auto;
	padding-bottom: 16px;
	padding-top: 10px;
}

.contact-footer {
	position:absolute;
	top: 50%;
	-webkit-transform: translate(-0%, -50%);
	-moz-transform: translate(-0%, -50%);
	-ms-transform: translate(-0%, -50%);
	-o-transform: translate(-0%, -50%);
	transform: translate(-0%, -50%);
	left: 156px;
}

.contact-footer p {
	margin-bottom: 0;
}



.footer-copyright {
	position:absolute;
	bottom: 0;
    left: 156px;
	padding-bottom: 12px;
	
}